/*
colors

black: #EFB4A8
background: #fffcfc
pink: #21282F

*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  width: 20em;
}

.btn-lg {
  margin: 10px;
  width: 100%;
}

.btn-primary {
  background: #21282F;
  color: #EFB4A8;
}

.btn-primary:hover{
  background: #24282F;
}

.btn-secondary {
  background: #EFB4A8;
  color: #fffcfc;
}

.new-btn {
  float: right;
}

.video-list-item {
  height: 200px;
  width: 450px;
  padding: 5px;

  margin: 5px;
  border: 2px solid black;
}

.bar {
  padding: 5px;
}

.bar-links {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
